{% extends 'html/base.html' %}
{% load static %}
{% block content %}
<section class = "container mb-5">
    <div class = "row">
        <div class = "col-md-8 p-5 mb-5">
            <div class = "card">
                <div class = "card-header">
                    {{ materiais.titulo }}
                </div>
                <div class = "card-body">
                    <h1>{{ materiais.titulo|linebreaks }}</h1>
                    
                        <small>Conteúdo sujeit às leis de propriedade intelectual</small><br><br>
                    
                    <a class = "btn btn-danger text-white mb-3"><i class = "fab  fa-youtube"></i> Acessar conteúdo</a>
                    <a class = "btn btn-primary text-white mb-3"><i class = "fab  fa-facebook"></i></a>
                    <a class = "btn  text-white mb-3" style = "background-color: #1DA1F2"><i class = "fab  fa-twitter" ></i></a>
                    
                    <p><i class = "fa fa-thumbtack"></i> 
                        <b>Descrição/Referências do material: </b> {{ materiais.desc }}
                        Esses são sinos de casamento que se ouvem? Serão passos pequeninos de pequenos pezinhos no chão do escritório? Terá Michael se transformado num chefe da máfia? Com a Dunder Mifflin à beira da falência, quem sabe se ele terá - ou talvez já esteja na altura de substituir a liderança da Dunder Mifflin.
                    </p>              
                    <p class = "text-muted"><i class = "fa fa-user-circle"></i> <b>Nome completo do autor:</b> <a href = "#">{{ materiais.autor}} </a></p>
                    
                    <p><i class = "fa fa-text-height"></i> <b>Tipo:</b> Videoaula</p>
                    <p><i class = "fa fa-closed-captioning"></i> <b>Legendas:</b> Não</p>
                    <p><i class = "fa fa-language"></i> <b>Idiomas do documento:</b> 	العربية, Dansk, English [CC], Suomi, Indonesia, Italiano, 한국어, Norsk Bokmål, Nederlands, Polski, Português, Русский, Svenska, ไทย, Türkçe, 中文（简体）, 中文（繁體）</p>    
                    <p class="footer"><i class = "fa fa-calendar-check"></i>  <strong>Material publicado em:</strong> {{ materiais.published_date}} </p>
                </div>
                <div class = "card-footer">
                    <a class = "btn btn-outline-danger" href = ""><i class = "fa fa-search"></i> Buscar termos</a>
                    <a class = "btn btn-primary" href = ""><i class = "fa fa-plus-circle"></i> Sugerir adição ao acervo</a>
                </div>
            </div>
        </div>
    </div>
</section>

 <!--table class="content-table shadow-sm">                
            <caption>Informações do Material Selecionado</caption>
                <thead class = "bg-danger">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Páginas</th>
                        <th scope="col">Videos</th>
                        <th scope="col">Autoria</th>
                        <th scope="col">Referência</th>
                        <th scope="col">url</th>
                        <th scope = "col">Publicação</th>
                    </tr>
                </thead>
                <tbody>
                    {% if materiais.created_date %}
                    <tr class = "active-row">
                        <th scope="row">{{ materiais.id }}</th>
                        <td><a href = "">{{ materiais.titulo}}</a></td>
                        <td>{{ materiais.paginas}}</td>
                        <td>{{ materiais.videos}}</td>
                        <td>{{ materiais.autor }}</td>
                        <td>{{ materiais.desc }}</td>
                        <td>{{ materiais.url }}</td>
                        <td>{{ materiais.published_date }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table-->

        
{% endblock %}