{% load static %}
<!-- Esta é a área do footer-->
  <footer> 
      <div class="container text-white">
        <div class="row p-5">
          <div class="col-md-12 mb-5"> 
            <h3>O mapa do site foi elaborado de acordo com o referencial teórico:</h3>
            <p>Georgouli, Katerina & Skalkidis, Ilias & Guerreiro, Pedro. (2008). A Framework for Adopting LMS to Introduce e-Learning in a Traditional Course. Educational Technology & Society. 11. 227-240. </p>
          </div>
          <div class="col-md-4" align="center"> <img class="mb-3" src="{% static 'images/logo.png'%}" width="100px" height="auto" alt="Logo da Aiamis">
            <h3 class="mb-5">Centro Universitário INTA - UNINTA</h3>
          </div>
          <div class="col-md-4"> 
            <ul> 
              <li> 
                <h3>UNINTA</h3>
              </li>
              <li><a href="#" class = "text-warning ">UNINTA</a></li>
              <li><a href="#" class = "text-warning ">Conheça o UNINTA</a></li>
              <li><a href="#" class = "text-warning ">Cursos de Graduação em EaD </a></li>
              <li><a href="#" class = "text-warning ">Cursos de Pós Graduação em EaD</a></li>
              <li><a href="#" class = "text-warning ">Cursos Online</a></li>
              <li><a href="#" class = "text-warning ">Processos Seletivos</a></li>
            </ul>
          </div>
          <div class="col-md-4 mb-5">
            <ul> 
              <li>     
                <h3>Entre em Contato</h3>
              </li>
              <li>(88) 3112 3500</li>
              <li>(88) 9 9221 1714</li>
              <li>(88) 9 9795 3555</li>
              <li>ouvidoria@uninta.edu.br</li>
              <li>Torne-se um polo UNINTA EAD</li>
              <li></li>
            </ul>
          </div>
          <div class="col-md-12 p-4" align="center">
            <p>© Centro Universitário INTA - UNINTA | Diretoria de Inovação Educacional - PROEAD - Privacidade e condições de usos. 2019.</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    
  </body>
</html>