{% extends 'html/base.html' %}
{% load static %}
{% block content %}
<style>
      .jumbotron .col-md-3 {
        border-radius: 10px !important;
      }
</style>
 <script src="https://kit.fontawesome.com/fb0bd80f2e.js" crossorigin="anonymous"></script>
<section class = "jumbotron bg-danger text-white">
  <div class = "container">
    <div class = "row">
      <div class = "col-md-6 mb-5">
          <small class = "text-white">Centro Universitário UNINTA</small>
          <h1 display = "heading-1">Evoluindo</h1>
          <h2 class = "heading-1">Ecossistema de Aprendizagem Aiamis</h2>
          <p class = "text-white">Texto descritivo acerca do ecossistema de Aprendizagem
            Aiamis. Neste banner irão aparecer noticias relevantes recentes.
          </p>
          <a class = "btn btn-warning btn-lg text-dark" href = "{% url 'new' %}">Acessar catálogo de Materiais</a>
      </div>
    <div class = "col-md-6 d-flex justify-content-center mb-5">
        <img class="mb-3" src="{% static 'images/logo.png'%}" width="" height="300" alt="Logo da Aiamis">
    </div>
   
    <div class = "col-md-3 p-5">
      <i class = "fa fa-2x fa-chalkboard-teacher text-white"></i>
      <h3>Ecossistema</h3>
      <p class = "text-white">Um conjunto avançado de ferramentas</p>
    </div>
  
    <div class = "col-md-3 bg-warning p-5 shadow-lg">
        <i class = "fa fa-2x fa-bookmark text-white"></i>
      <h3>Catálogos</h3>
      <p class = "text-white">Um vasto repositório a dispor da comunidade acadêmica</p>
      <a class = "btn btn-danger btn-block">Leia mais sobre <i class = " fa fa-arrow-right text-white"></i></a>
    </div>
  
    <div class = "col-md-3 p-5">
      <i class = "fa fa-3x fa-gamepad text-white"></i>
      <h3>Gamificação</h3>
      <p class = "text-white">A partir das interações com o AVA</p>
    </div>
    
    <div class = "col-md-3 p-5">
        <i class = "fa fa-3x fa-layer-group text-white"></i>
      <h3>(UNINTA)</h3>
    </div>
  </div>
</section>
<section class="container"> 
    <div class = "row">
      <div class = "col-md-12 mb-5" align = "center">
          <h2>Olá, Seja bem vindo!</h2>
          <h4>Utilize esta central para localizar conteúdos específicos dentro do Catálogo de Materiais Aiamis</h4>
      </div>
      {% for post in posts %}
      <div class = "col-md-4">
        <div class = "card mb-3 ">
          <div class = "card-header text-muted">
            <small>{{ post.created_date }}</small>
          </div>
          <div class = "card-body ">
            <div align = "center"><img class="mb-3" src="{% static 'images/aiamis.svg' %}" width="125px" height="auto" alt="Logo da Aiamis"></div>
            <h3 align = "center">{{ post.title|linebreaks }}</h3>
            <small>{{ post.published_date|linebreaks}}</small>
            {{ post.text}}
          </div>
          <div class = "card-footer">
             <a class = "btn btn-warning btn-block" href = "{{post.url}}" target = "blank">Avançar</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</section>
{% endblock %}