{% load static %}
<style>
      .jumbotron .col-md-3 {
        border-radius: 10px !important;
        
      }
</style>
<script src="https://kit.fontawesome.com/fb0bd80f2e.js" crossorigin="anonymous"></script>
<section class = "jumbotron text-white " style = "background-color: #000">
  <div class = "container">
    <div class = "row">
      <div class = "col-md-6 mb-5">
          <small class = "">Centro Universitário UNINTA</small>
          <h1 display = "heading-1">Iterativo</h1>
          <h2 class = "heading-1">Ecossistema de Aprendizagem Aiamis</h2>
          <p class = "">Texto descritivo acerca do ecossistema de Aprendizagem
            Aiamis. Neste banner irão aparecer noticias relevantes recentes.
          </p>
          <a class = "btn btn-warning btn-lg" href = "{% url 'new' %}">Acessar catálogo de Materiais</a>
      </div>
    <div class = "col-md-6 d-flex justify-content-center mb-5">
        <img class="mb-3" src="{% static 'images/logo.png'%}" width="" height="300" alt="Logo da Aiamis">
    </div>
   
    <div class = "col-md-3 p-5">
      <i class = "fa fa-2x fa-chalkboard-teacher"></i>
      <h3>Ecossistema</h3>
      <p class = "">Um conjunto avançado de ferramentas</p>
    </div>
    
    <div class = "col-md-3 p-5">
      <i class = "fa fa-3x fa-gamepad"></i>
      <h3>Gamificação</h3>
      <p class = "">A partir das interações com o AVA</p>
    </div>

    <div class = "col-md-3 bg-warning p-5 shadow-lg text-white">
        <i class = "fa fa-2x fa-bookmark"></i>
      <h3>Catálogos</h3>
      <p class = "text-white">Um vasto repositório a dispor da comunidade acadêmica</p>
      <a class = "btn btn-warning btn-block">Leia mais sobre <i class = " fa fa-arrow-right text-white"></i></a>
    </div>
  
  
    
    <div class = "col-md-3 p-5">
      <h3>(UNINTA)</h3>
    </div>
  </div>
</section>