{% extends 'html/base.html' %}
{% block content %}
    {% if material.published_date %}
    <section class = "container">
      <h1>Material em destaque</h1>
        <table class="content-table shadow-sm">                
            <caption>Materiais Didáticos disponíveis</caption>
            <thead class = "bg-danger">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Páginas</th>
                    <th scope="col">Videos</th>
                    <th scope="col">Autoria</th>
                    
                    <th scope="col">Descrição</th>
                    <th scope = "col">Publicação</th>
                </tr>
            </thead>
                <tbody>
                    <tr class = "active-row">
                        <th scope="row">{{ material.id }}</th>
                        <td><a href = "{% url 'material_detail' pk=material.pk%}">{{ material.titulo}}</a></td>
                        <td>{{ material.paginas}}</td>
                        <td>{{ material.videos}}</td>
                        <td>{{ material.autor }}</td>
                        <td>{{ material.desc }}</td>
                        <td>{{ material.published_date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
    {% endif %}
{% endblock %}